<a href="https://colab.research.google.com/github/jessedso99/Ciencia-de-Dados-Bootcamp-Unimed-BH-DIO/blob/main/Aula2_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
#lendo os arquivos. Cada tabela esta em uma aba diferente no mesmo arquivo
df0= pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Datasets/vendas1.xlsx", sheet_name= 0)
df1= pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Datasets/vendas1.xlsx", sheet_name= 1)
df2= pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Datasets/vendas1.xlsx", sheet_name= 2)
df3= pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Datasets/vendas1.xlsx", sheet_name= 3)

In [ ]:
#vamos juntar as tabelas em umas só
df= pd.concat([df0, df1, df2, df3])
df.head()

   Cidade       Data  Vendas  LojaID  Qtde
0  Paraná 2020-12-11   77.19    1002    30
1  Paraná 2021-12-31  424.16    1004    27
2  Paraná 2021-05-06  508.32    1002    14
3  Paraná 2021-07-26  269.58    1004    18
4  Paraná 2022-01-12  165.53    1000    29

In [ ]:
#pega uma amostra "aleatoria" da base
df.sample(6)

            Cidade       Data  Vendas  LojaID  Qtde
31       São Paulo 2021-08-07  245.39    1010     9
3   Santa Catarina 2021-05-29  546.82    1017    25
23  Santa Catarina 2021-02-25  647.92    1017    23
13  Santa Catarina 2021-03-02  629.09    1018    27
9        São Paulo 2021-02-28  306.92    1011     2
10  Santa Catarina 2021-10-12  635.71    1019     2

In [ ]:
#alterarando o tipo de dados das colunas
df["LojaID"]= df["LojaID"].astype("object")
#conferindo
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [ ]:
#verificando se há valores nulos na tabela. E se houver mostrar a soma dessas ocorrencias
df.isnull().sum()
#Caso haja valroes nulos, usar a funcao "fillna" (substituir) ou "dropna"(exluir linha)

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [ ]:
#CRIANDO COLUNAS
#coluna receita= qnt vendas* valor unitario
df["Receita"]= df["Vendas"].mul(df["Qtde"])
df.head()

   Cidade       Data  Vendas LojaID  Qtde   Receita
0  Paraná 2020-12-11   77.19   1002    30   2315.70
1  Paraná 2021-12-31  424.16   1004    27  11452.32
2  Paraná 2021-05-06  508.32   1002    14   7116.48
3  Paraná 2021-07-26  269.58   1004    18   4852.44
4  Paraná 2022-01-12  165.53   1000    29   4800.37

In [ ]:
maiorReceita= df["Receita"].max()
menorReceita= df["Receita"].min()
print(f"A maior receita foi R$ {maiorReceita} e a menor receita R${menorReceita}")

A maior receita foi R$ 22716.75 e a menor receita R$0.0

In [ ]:
#nlargest retorna os N maiores elementos de uma coluna
df.nlargest(4, "Receita")

            Cidade       Data  Vendas LojaID  Qtde   Receita
15  Santa Catarina 2020-10-09  649.05   1018    35  22716.75
7   Santa Catarina 2020-10-11  545.49   1016    35  19092.15
8   Santa Catarina 2021-05-20  527.38   1017    35  18458.30
36          Paraná 2022-06-08  643.16   1004    27  17365.32

In [ ]:
#nsmallest retorna os N menores elementos de uma coluna
df.nsmallest(4, "Receita")

            Cidade       Data  Vendas LojaID  Qtde  Receita
33  Rio de Janeiro 2021-11-02  361.00   1009     0      0.0
6        São Paulo 2021-06-13  194.87   1013     0      0.0
12       São Paulo 2022-07-12  157.68   1014     0      0.0
14       São Paulo 2021-11-30  148.47   1014     0      0.0

In [ ]:
#agrupamento. Soma das vendas por estado
df.groupby("Cidade")["Receita"].sum()

Cidade
Paraná            233669.77
Rio de Janeiro    159388.70
Santa Catarina    212675.44
São Paulo          63213.67
Name: Receita, dtype: float64

In [ ]:
#ordenando o conjunto de dados com base em algum criterio
df.sort_values("Receita", ascending= False).head(10)

            Cidade       Data  Vendas LojaID  Qtde   Receita
15  Santa Catarina 2020-10-09  649.05   1018    35  22716.75
7   Santa Catarina 2020-10-11  545.49   1016    35  19092.15
8   Santa Catarina 2021-05-20  527.38   1017    35  18458.30
36          Paraná 2022-06-08  643.16   1004    27  17365.32
13  Santa Catarina 2021-03-02  629.09   1018    27  16985.43
16  Santa Catarina 2021-09-28  623.67   1017    27  16839.09
23  Santa Catarina 2021-02-25  647.92   1017    23  14902.16
5           Paraná 2022-03-31  467.80   1004    30  14034.00
14  Santa Catarina 2022-05-10  422.12   1018    33  13929.96
3   Santa Catarina 2021-05-29  546.82   1017    25  13670.50