<a href="https://colab.research.google.com/github/jessedso99/Ciencia-de-Dados-Bootcamp-Unimed-BH-DIO/blob/main/Aula1_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importando pandas
import pandas as pd

In [ ]:
df= pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Datasets/gapminder.csv", sep= ", ")
#caso o separador n seja ","
#df= pd.read_csv("path...", sep= "xxx")

In [ ]:
#top 5 linhas
df.head()

,"""population",fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Country,"Region"""
0,"""148252473",2.38,0.06,0.319161,20.39742,2265,125.0307,68.4,55.9,Afghanistan,"South Asia"""
1,"""1197070109",2.64,0.32,1.520849,20.95956,3901,123.1274,64.4,65.6,Bangladesh,"South Asia"""
2,"""321026",2.38,0.06,3.277726,23.21991,12029,123.3223,78.2,16.0,Maldives,"South Asia"""
3,"""26325183",2.90,0.40,0.105413,20.76344,1866,125.5561,68.6,50.7,Nepal,"South Asia"""
4,"""163096985",3.58,0.10,0.935618,22.29914,4187,126.5196,64.1,95.5,Pakistan,"South Asia"""

In [ ]:
df= df.rename(columns={""""population""":"População", "fertility":"Fertilidade", "BMI_male":"BMI_Homem", "BMI_female":"BMI_Mulher", "Country":"País", "life":"Estm. de Vida", "child_mortality":"Mortalidade Infantil", '''Region"''':"Continente"})

In [ ]:
df.head(10)

,População,Fertilidade,HIV,CO2,BMI_Homem,GDP,BMI_Mulher,Estm. de Vida,Mortalidade Infantil,País,Continente
0,"""148252473",2.38,0.06,0.319161,20.39742,2265,125.0307,68.4,55.9,Afghanistan,"South Asia"""
1,"""1197070109",2.64,0.32,1.520849,20.95956,3901,123.1274,64.4,65.6,Bangladesh,"South Asia"""
2,"""321026",2.38,0.06,3.277726,23.21991,12029,123.3223,78.2,16.0,Maldives,"South Asia"""
3,"""26325183",2.90,0.40,0.105413,20.76344,1866,125.5561,68.6,50.7,Nepal,"South Asia"""
4,"""163096985",3.58,0.10,0.935618,22.29914,4187,126.5196,64.1,95.5,Pakistan,"South Asia"""
5,"""19949553",2.32,0.06,0.580791,21.96671,6907,124.8615,74.3,11.7,Sri Lanka,"South Asia"""
6,"""2975029",1.40,0.10,1.804106,25.35542,7383,132.8108,72.5,20.0,Albania,"Europe & Central Asia"""
7,"""8331465",1.41,0.30,8.183160,26.46741,43952,124.1394,80.4,4.6,Armenia,"Europe & Central Asia"""
8,"""8868713",1.99,0.10,5.109538,25.65117,14365,128.6024,70.6,43.3,Austria*,"Europe & Central Asia"""
9,"""9526453",1.42,0.20,6.488174,26.16443,14488,129.7968,70.1,7.2,Azerbaijan,"Europe & Central Asia"""

In [ ]:
#total de linhas e colunas
df.shape

(118, 11)

In [ ]:
#somento nome das cols
df.columns

Index(['População', 'Fertilidade', 'HIV', 'CO2', 'BMI_Homem', 'GDP',
       'BMI_Mulher', 'Estm. de Vida', 'Mortalidade Infantil', 'País',
       'Continente'],
      dtype='object')

In [ ]:
#os tipos de cada coluna
df.dtypes

População                object
Fertilidade             float64
HIV                     float64
CO2                     float64
BMI_Homem               float64
GDP                       int64
BMI_Mulher              float64
Estm. de Vida           float64
Mortalidade Infantil    float64
País                     object
Continente               object
dtype: object

In [ ]:
df.tail(7)

,População,Fertilidade,HIV,CO2,BMI_Homem,GDP,BMI_Mulher,Estm. de Vida,Mortalidade Infantil,País,Continente
111,"""34470138",4.79,1.0,0.382118,22.40484,3246,129.7199,67.4,84.7,Sierra Leone,"Sub-Saharan Africa"""
112,"""1153750",3.70,25.9,0.949861,23.16969,5887,131.8793,46.1,112.2,Somalia,"Sub-Saharan Africa"""
113,"""42844744",5.54,5.8,0.154673,22.47792,2030,130.8328,59.7,72.4,South Africa,"Sub-Saharan Africa"""
114,"""6052937",4.88,3.2,0.251983,21.87875,1219,131.0248,60.0,96.4,South Sudan,"Sub-Saharan Africa"""
115,"""31014427",6.34,6.4,0.100853,22.35833,1437,134.5204,57.2,89.3,Sudan,"Sub-Saharan Africa"""
116,"""13114579",5.88,13.6,0.148982,20.68321,3039,132.4493,52.0,94.9,Tanzania,"Sub-Saharan Africa"""
117,"""13495462",3.85,15.1,0.654323,22.02660,1286,131.9745,49.0,98.3,Togo,"Sub-Saharan Africa"""

In [ ]:
#retorna informaçãoes estatisicas sobre os dados do df
df.describe()

,Fertilidade,HIV,CO2,BMI_Homem,GDP,BMI_Mulher,Estm. de Vida,Mortalidade Infantil
count,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000
mean,3.051441,2.111441,4.301448,24.558564,16792.889831,127.010846,69.333898,46.358475
std,1.685170,4.742809,6.028151,2.249644,19804.801098,4.474231,9.360722,47.416167
min,1.280000,0.060000,0.008618,20.397420,588.000000,117.375500,45.200000,2.700000
25%,1.702500,0.100000,0.478912,22.313938,2519.250000,123.535150,61.825000,8.000000
50%,2.385000,0.400000,2.091967,25.088695,9956.000000,127.379550,72.050000,22.800000
75%,4.257500,1.525000,6.411823,26.526823,23306.250000,130.341750,76.500000,79.500000
max,7.590000,25.900000,48.702062,28.131380,126076.000000,135.492000,82.600000,192.000000

In [ ]:
#para distinguir "aspas duplas usei 'aspas simpels
df['Continente'].unique()

array(['South Asia"', 'Europe & Central Asia"',
       'Middle East & North Africa"', 'Latin America & Caribbean"',
       'East Asia & Pacific"', 'Sub-Saharan Africa"'], dtype=object)

In [ ]:
#rotonar apenas as linhas correspondentes a South Asia
sAsia= df.loc[df['Continente'] == 'South Asia"']
sAsia.head()

,População,Fertilidade,HIV,CO2,BMI_Homem,GDP,BMI_Mulher,Estm. de Vida,Mortalidade Infantil,País,Continente
0,"""148252473",2.38,0.06,0.319161,20.39742,2265,125.0307,68.4,55.9,Afghanistan,"South Asia"""
1,"""1197070109",2.64,0.32,1.520849,20.95956,3901,123.1274,64.4,65.6,Bangladesh,"South Asia"""
2,"""321026",2.38,0.06,3.277726,23.21991,12029,123.3223,78.2,16.0,Maldives,"South Asia"""
3,"""26325183",2.90,0.40,0.105413,20.76344,1866,125.5561,68.6,50.7,Nepal,"South Asia"""
4,"""163096985",3.58,0.10,0.935618,22.29914,4187,126.5196,64.1,95.5,Pakistan,"South Asia"""

In [ ]:
#comprovando que temos apenas dados da South Asia 
sAsia['Continente'].unique()

array(['South Asia"'], dtype=object)

In [ ]:
#Groupy By por continente. nunique é o mesmo que count elementnos distintos
df.groupby("Continente")["País"].nunique()

Continente
East Asia & Pacific"           12
Europe & Central Asia"         35
Latin America & Caribbean"     20
Middle East & North Africa"     8
South Asia"                     6
Sub-Saharan Africa"            37
Name: País, dtype: int64

In [ ]:
#espect vida medai em cada continente
df.groupby("Continente")["Estm. de Vida"].mean()

Continente
East Asia & Pacific"           72.666667
Europe & Central Asia"         76.414286
Latin America & Caribbean"     73.580000
Middle East & North Africa"    73.600000
South Asia"                    69.666667
Sub-Saharan Africa"            58.283784
Name: Estm. de Vida, dtype: float64